@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');
:root {
    --font-body: 'Roboto', 'Inter', BlinkMacSystemFont, system-ui;
    font-family: var(--font-body);
}

html, body {
    font-family: 'Roboto', sans-serif;
}